.container {
  position: relative;
}
.title {
  text-overflow:ellipsis;
  overflow:hidden;
  margin: 0;
}
.date {
  text-align: center;
  width: 100px;
}
.user {
  text-align: center;
  width: 120px;
}
.list {
  border:0;
}
.lists {
  border-bottom: 1px solid #212529;
}
.lists:nth-child(n+2):hover {
  cursor: pointer;
}
.posts {
/*  height: 70vh;
  min-height: 600px;
*/
  height: 700px;
}
.sr-only {
  display: none;
}
.writeBtn {
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 16px 12px;
}
.select {
  width: 100px;
}
.select:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .title {
      width: 360px;
    }
}

@media (max-width: 768px) {
  .title {
    width: 240px;
  }
}

@media (max-width: 575px) {
  .wrap-title, .date, .user
  {
    padding: 8px 8px;
  }
  .title {
    width: 200px;
  }
  .posts {
    margin-bottom: 60px;
    }
  .writeBtn {
    bottom: 30px;
  }
  .date,.user {
    width: 80px;
  }
}

@media (max-width: 425px) { 
  .title {
    width: 180px;
  }
  .page-link {
    padding: 6px 10px;
  }
}
@media (max-width: 380px) {
  .title {
    width: 140px;
  }
  .date {
    width: 80px;
    padding: 8px 4px;
  }
  .user {
    width: 80px;
    padding: 8px 4px;
  }
}
@media (max-width: 340px) {
  .title {
    width: 120px;
  }
}